[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
main = "python run.py"
tests = "coverage run -m pytest"
check = "bash -c 'black . && mypy . && mypy --install-types'"

[packages]
uvloop = {version = "*", markers = "sys_platform == 'linux'"}

[dev-packages]
mypy = "*"
black = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.11"
